/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
\#*.clj\#
.\#*.clj
*.clj~
*.cljs~
*.cljc~
*.edn~
*.html~
examples/**/target
.rebel_readline_history
.lein-repl-history